
Data/Videos/hold_3.mp4
Data/Videos/hold_1.mp4
Data/Videos/hold_2.mp4
Data/Videos/shoot_1.mp4
Data/Videos/hold_4.mp4
Data/Videos/shoot_2.mp4
Data/Videos/shoot_3.mp4
gesture_recognition.h5
Data/Videos/shoot_4.mp4
/Data
